@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #00c4cc 0, #7d2ae8);
    -webkit-background-clip: text;
    background-clip: text;
<<<<<<< HEAD
}
=======
}
>>>>>>> 8773e3cc194030ae20d713a04e8696557dba364d
