@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #e11d48 0, #881337);
    -webkit-background-clip: text;
    background-clip: text;

}

